/**
 * Author
 * ----------------------------------------------------------------------------
 */

 #author{
    padding: 100px;
    
/*Color Palette*/

/*Global styles*
---------------------*/
inner{
   border-radius: 50px;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
   box-sizing: border-box;
 }
 *, *:before, *:after {
   box-sizing: inherit;
 }
 
 body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
 }
 
 h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
 }
 
 h1 {
    font-size: 80px;
 }
 
  h2 {
     font-size: 40px;
     margin-top: 0;
  }
 
 a {
    color: #ef233c;
 }
 
 a:hover {
    text-decoration: none;
 }
 
 .content-wrap {
    max-width: 90%;
    margin: 0 auto;
    padding: 50px;
    overflow: auto;
    margin-bottom: 50px;
 }
 
 .col-narrow {
    width: 30%;
    float: left;
    min-height: 175px;
 }
 
 .col-wide {
    float: left;
    padding-left: 20px;
    min-height: 175px;
 }
 
 /*Header and Footer
 ------------------------*/
 
 header, footer {
    background: linear-gradient(to right, #000428, #004e92);
    color: #8d99ae;
    margin: 0 auto;
    width: 100%;
    border-radius: 100px;
 }
 
 /*Header*/
 
 .profile-img {
    border-radius: 100%;
    max-width: 250px;
    max-height: 250px;
 }
 
 header h1, header h2 {
    color: #edf3f4;
    margin: 0;
 }
 
 /*Footer*/
 
 footer {
    text-align: center;
 }
 
 .contact-info a {
    padding: 10px;
    display: inline-block;
 }
 
 
 /*Education
 ------------------------*/
 
 .education {
    background-color: #aaacbb;
    border-radius: 100px;
 }
}

@media (max-width: 600px) {
   #author{
      padding: 5% 20%;
   }
   .content-wrap{
      padding: 0px;
   }
}

