{{ define "content" }}
{{ $query := where .Pages ".IsNode" false }}
{{ $count := len $query }}

{{$author := .Params.author}}
{{ range $.Site.Data.authors }}
{{if eq $author .author}}
{{$avatar := false}}
<div id="author">
    <!-- // Intro -->
    <header>
      <div class="content-wrap">
        <img src="/images/authors/{{ .avatar }}" class="col-narrow profile-img" alt="Your Name">
        <div class="col-wide">
          <h1>{{ .name }}</h1>
          {{ if .role }}
          <p class="page-subtitle">{{ .role }}</p>
          {{ end }}
          <ul class="network-icon" aria-hidden="true">
            {{ range .social }}
            {{ $pack := or .icon_pack "fas" }}
            {{ $pack_prefix := $pack }}
            {{ if in (slice "fab" "fas" "far" "fal") $pack }}
            {{ $pack_prefix = "fa" }}
            {{ end }}
            {{ $link := .link }}
            {{ $scheme := (urls.Parse $link).Scheme }}
            {{ $target := "" }}
            {{ if not $scheme }}
            {{ $link = .link | relLangURL }}
            {{ else if in (slice "http" "https") $scheme }}
            {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
            {{ end }}
            <li>
              <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }}>
                <i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }} big-icon"></i>
              </a>
            </li>
            {{ end }}
          </ul>
          <div class="floatright">
            {{ with .interests }}
            <section class="">
          <div class="">
            <h2>Skills</h2>
                <div class="">
                  <ul class="">
                    {{ range . }}
                    <li>{{ . | markdownify | emojify }}</li>
                    {{ end }}
                  </ul>
                  </div>
          </div>
        </section>
        {{ end }}
  
          </div>
          <div class="float"><p>{{ .text }}</p></div>    
        </div>
      </div>
      </header>
      
      <main> 
          <!-- // Work Experience -->
      {{ with .education }}

      <!-- // Education -->
          <section class="education">
        <div class="content-wrap">
          <h2>Education</h2>
          {{ range .courses }}

              <!-- School details: copy this whole block to add more schools. -->
              <i class="fa-li fas fa-graduation-cap"></i>
              <h3>{{ .course }}{{ with .year }}, {{ . }}{{ end }}</h3>
              <p>{{ .institution }}</p>
          {{ end }}
        </div>
          </section>
          {{ end }}
      </main>
    </div>
  </div>
</div>
</div>
{{ end }}
{{end}}
{{ end }}
