<section id="{{ .section.section_id }}" class="block cta-block outer">
  <div class="inner halfnofloat">
    <div class="block-outside bg-gradient">
      <div class="block-inside">
        <div class="block-content">
          <h2 class="block-title">{{ .section.title }}</h2>
        <form class="block-text" action="https://getform.io/f/3fc8b623-5b15-46ef-afcb-1e149129c4b3" method="POST">
          <div class="half left cf">
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" placeholder="E-mail">
            <input type="tel" name="tel" placeholder="Phone">
          </div>
          <div class="half right cf">
            <button class="input-submit button secondary" type="submit">Send</button>        
          </div>
          </form>                
        </div><!-- .block-cta -->
      </div><!-- .block-inside -->
    </div><!-- .block-outside -->
  </div><!-- .inner -->
</section><!-- .cta-block -->
